OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
LLM_MODEL=gpt-4o-mini

DEFAULT_CSV_URL=https://docs.google.com/spreadsheets/d/1gLsAcNgKpZrErud2zqv1JGOrmuDDzNzPjJMcYJ4dtwY/export?format=csv&gid=0
MAP_JSON_PATH=map.json
REPORTS_DIR=reports


SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
SENDER_EMAIL = "your gmail@gmail.com"
SENDER_PASSWORD =   
receiver_email = "your gmail@gmail.com"
